<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.polymap.rhei.ide.viewCategory"
            name="%perspective_ide">
      </category>
      <view
            allowMultiple="false"
            category="org.polymap.rhei.ide.viewCategory"
            class="org.polymap.rhei.ide.editor.ConsoleView"
            icon="icons/eview16/console_view.gif"
            id="org.polymap.rhei.ide.ConsoleView"
            name="%view_console"
            restorable="false">
      </view>
      <view
            category="org.polymap.rhei.ide.viewCategory"
            class="org.polymap.rhei.ide.navigator.ProjectNavigator"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.ProjectNavigator"
            name="%view_scripts"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.polymap.rhei.ide.viewCategory"
            class="org.polymap.rhei.ide.java.JavadocView2"
            icon="icons/eview16/javadoc.gif"
            id="org.polymap.rhei.ide.JavadocView"
            name="%view_javadoc"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polymap.rhei.ide.editor.ScriptEditor"
            default="false"
            extensions="classpath"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.ide.ScriptEditor"
            name="Script">
      </editor>
      <editor
            class="org.polymap.rhei.ide.editor.ScriptEditor"
            default="false"
            extensions="html"
            icon="icons/obj16/file_obj.gif"
            id="org.polymap.rhei.ide.HtmlEditor"
            name="HTML">
      </editor>
      <editor
            class="org.polymap.rhei.ide.java.JavaEditor"
            default="false"
            extensions="java, js"
            icon="icons/obj16/jcu_obj.gif"
            id="org.polymap.rhei.ide.JavaEditor"
            name="Java">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polymap.rhei.ide.IDEPerspective"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.ScriptingPerspective"
            name="%perspective_ide">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.viewer">
      <viewer
            viewerId="org.polymap.rhei.ProjectNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.polymap.rhei.ProjectNavigator">
         <includes>
            <contentExtension
                  pattern="org.polymap.rhei.workbench.*">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.polymap.rhei.ide.navigator.ScriptProjectContentProvider"
            id="org.polymap.rhei.workbench.scriptsContent"
            labelProvider="org.polymap.rhei.ide.navigator.ScriptProjectLabelProvider"
            name="Scripts"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.polymap.rhei.ide.java.JREClasspathContainerInitializer"
            id="org.polymap.rhei.ide.JRE_CONTAINER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="org.polymap.rhei.ide.java.BundlesClasspathContainerInitializer"
            id="org.polymap.rhei.ide.BUNDLES_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.polymap.rhei.ide.navigator.MarkerResourceDecorator"
            id="org.polymap.rhei.ide.MarkerResourceDecorator"
            label="Markers"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.polymap.rhei.ide.cheatsheet.category"
            name="%perspective_ide">
      </category>
      <cheatsheet
            category="org.polymap.rhei.ide.cheatsheet.category"
            composite="false"
            contentFile="%cheatsheet_welcomeContent"
            id="org.polymap.rhei.ide.cheatsheet.welcome"
            name="%cheatsheet_welcome">
      </cheatsheet>
      <cheatsheet
            category="org.polymap.rhei.ide.cheatsheet.category"
            class="org.polymap.rhei.ide.cheatsheets.NewFormCheatSheet"
            composite="false"
            id="org.polymap.rhei.ide.cheatsheet.newform"
            listener="org.polymap.rhei.ide.cheatsheets.NewFormCheatSheet"
            name="%cheatsheet_newform">
         <description>
            %cheatsheet_newformDescription
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetItemExtension">
      <itemExtension
            class="org.polymap.rhei.ide.cheatsheets.TestCheatItemExtension"
            itemAttribute="test1">
      </itemExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polymap.rhei.ide.commandCategory"
            name="Rhei-IDE">
      </category>
      <command
            categoryId="org.polymap.rhei.ide.commandCategory"
            defaultHandler="org.polymap.rhei.ide.editor.InsertTextCommand"
            description="Insert text into current editor"
            id="org.polymap.rhei.ide.editor.insertText"
            name="Insert text">
         <commandParameter
               id="org.polymap.rhei.ide.editor.textCommandParam"
               name="Text"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.polymap.rhei.ide.popup.deleteFile"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.polymap.rhei.ide.navigator.DeleteFileAction"
               enablesFor="+"
               icon="icons/etool16/delete_edit.gif"
               id="org.polymap.rhei.ide.action.deleteFile"
               label="Delete"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.polymap.rhei.ide.newFileContribution"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="org.polymap.rhei.ide.navigator.NewFileAction"
               icon="icons/elcl16/add_co.gif"
               id="org.polymap.rhei.ide.action1"
               label="New file..."
               tooltip="Create a new source file">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polymap.rhei.ide.NavigatorContribution1"
            targetID="org.polymap.rhei.ProjectNavigator">
         <action
               class="org.polymap.rhei.ide.navigator.NewFileAction"
               icon="icons/elcl16/add_co.gif"
               id="org.polymap.rhei.ide.NewFileAction"
               label="New file"
               style="push"
               toolbarPath="actions"
               tooltip="Create a new source file">
         </action>
      </viewContribution>
   </extension>

</plugin>
