<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.polymap.rhei.ide.editor.ConsoleView"
            icon="icons/eview16/console_view.gif"
            id="org.polymap.rhei.ide.ConsoleView"
            name="Console"
            restorable="false">
      </view>
      <view
            class="org.polymap.rhei.ide.navigator.ProjectNavigator"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.ProjectNavigator"
            name="Scripts"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.polymap.rhei.ide.java.JavadocView2"
            icon="icons/eview16/javadoc.gif"
            id="org.polymap.rhei.ide.JavaDocView"
            name="JavaDoc"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.polymap.rhei.ide.editor.ScriptEditor"
            default="false"
            extensions="java, js, html, classpath"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.ide.ScriptEditor"
            name="Script">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.polymap.rhei.ide.IdePerspectiveFactory"
            icon="icons/eview16/script_editor.gif"
            id="org.polymap.rhei.ScriptingPerspective"
            name="Rhei Scripting">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.viewer">
      <viewer
            viewerId="org.polymap.rhei.ProjectNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="org.polymap.rhei.ProjectNavigator">
         <includes>
            <contentExtension
                  pattern="org.polymap.rhei.workbench.*">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.polymap.rhei.ide.navigator.ScriptProjectContentProvider"
            id="org.polymap.rhei.workbench.scriptsContent"
            labelProvider="org.polymap.rhei.ide.navigator.ScriptProjectLabelProvider"
            name="Scripts"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.polymap.rhei.ide.java.JREClasspathContainerInitializer"
            id="org.polymap.rhei.ide.JRE_CONTAINER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="org.polymap.rhei.ide.java.BundlesClasspathContainerInitializer"
            id="org.polymap.rhei.ide.BUNDLES_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.polymap.rhei.ide.navigator.MarkerResourceDecorator"
            id="org.polymap.rhei.ide.MarkerResourceDecorator"
            label="Markers"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
