<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.designer.ui.reportitemUI">
      <model
            extensionName="org.polymap.rhei.birt.MapImage">
      </model>
      <description>
         Displays a Map image from teh workbench.
      </description>
      <palette
            icon="icons/mapimage.png"></palette>
      <editor
            canResize="true"
            menuLabel="MapImage"
            showInDesigner="true"
            showInMasterPage="true">
      </editor>
      <outline
            icon="icons/mapimage.png">
      </outline>
      <reportItemLabelUI
            class="org.polymap.rhei.birt.mapImage.MapImageDesignerUI">
      </reportItemLabelUI>
   </extension>
   <extension
         point="org.eclipse.birt.report.model.reportItemModel">
      <reportItem
            class="org.polymap.rhei.birt.mapImage.MapImageFactory"
            displayNameID="MapImage"
            extendsFrom="ExtendedItem"
            extensionName="org.polymap.rhei.birt.MapImage"
            hasStyle="true"
            isNameRequired="false">
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.engine.reportitemPresentation">
      <reportItem
            class="org.polymap.rhei.birt.mapImage.MapImagePresentation"
            name="org.polymap.rhei.birt.MapImage">
      </reportItem>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.elementAdapters">
      <adaptable
            class="org.eclipse.birt.report.model.api.ExtendedItemHandle">
         <adapter
               factory="org.polymap.rhei.birt.mapImage.MapImagePageGeneratorFactory"
               id="org.polymap.rhei.birt.designer.adapter1"
               type="org.eclipse.birt.report.designer.ui.views.IPageGenerator">
         </adapter>
      </adaptable>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="Workbench Date Source"
            driverClass="org.polymap.rhei.birt.dataSource.Driver"
            id="org.polymap.rhei.birt.selectedFeatures"
            odaVersion="3.0"
            overrideExplorerFiltering="false"
            setThreadContextClassLoader="false">
         <properties>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="Username"
                  isEncryptable="false"
                  name="username"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="Password"
                  isEncryptable="false"
                  name="password"
                  type="string">
            </property>
            <property
                  allowsEmptyValueAsNull="true"
                  canInherit="true"
                  defaultDisplayName="URL"
                  isEncryptable="false"
                  name="url"
                  type="string">
            </property>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="Workbench Selected Features"
            id="org.polymap.rhei.birt.selectedFeatures.all">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String">
         </dataTypeMapping>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            description="Create a new Workbench Data Source"
            id="org.polymap.rhei.birt.selectedFeatures"
            name="Create Workbench Data Source"
            profile="org.polymap.rhei.birt.selectedFeatures">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="org.polymap.rhei.birt.selectedFeatures">
         <newDataSourceWizard
               includesProgressMonitor="true"
               pageClass="org.eclipse.datatools.connectivity.oda.design.ui.pages.impl.DefaultDataSourceWizardPage"
               pageTitle="New Workbench Data Source"
               windowTitle="New Workbench Data Source">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            id="org.polymap.rhei.birt.selectedFeatures.all"
            initialPageId="org.polymap.rhei.birt.selectedFeatures.all.page1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="All selected features">
         </dataSetWizard>
         <dataSetPage
               displayName="CustomDataSetWizardPage"
               id="org.polymap.rhei.birt.selectedFeatures.all.page1"
               path="/"
               wizardPageClass="org.polymap.rhei.birt.dataSource.CustomDataSetWizardPage">
         </dataSetPage>
      </dataSetUI>
   </extension>

</plugin>
